<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colección Registro</title>
</head>
<body onload="verificarUser()">
<h2>Por favor, escriba el nombre de la colección donde guardará sus to do's</h2>
<br/>
<form>
    <label for="coleccion">Nombre de la colección:</label><br/>
    <input type="text" id="coleccion" name="coleccion"><br/><br/>
    <button type="button" onclick="sendNewTable()">enviar</button>
</form>
<br/>
<a href="index.html">Volver al menú</a>
<script src="../js/agregarColec.js"></script>
<script src="../js/revisarDato.js"></script>
</body>
</html>

