<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colección Listado</title>
</head>
<body onload="verificarUser(),traerTablas()">
<h2>Listado de colecciones hechas</h2>
<br/>
<table id="coleccion">
    <tr>
        <th>Nombre</th>
        <th>Agregar</th>
        <th>Ver</th>
        <th>Eliminar colección</th>
    </tr>
</table>
<br/>
<a href="index.html">Volver al menú</a>
<script src="../js/verColec.js"></script>
<script src="../js/revisarDato.js"></script>
</body>
</html>
