<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ver To-Do</title>
</head>
<body onload="verificarUser(),traerToDo()">
<h2>Listado de To-Do's</h2>
<table id="coleccion">
    <tr>

    </tr>
</table>
<br/>
<a href="verColec.html">Volver a las colecciones</a><br/>
<a href="index.html">Volver al menú</a>
<script src="../js/verTodo.js"></script>
<script src="../js/revisarDato.js"></script>
</body>
</html>
